/* == SPACINGS == */
.container__heading{
	padding-top: 2em;
	padding-bottom: 2.5em;
}

.outer-container{
	width: 100%;
}




/* == TYPOGRAPHY == */
.txt-white{
	color: white;
}





/* == FULL PAGE BACKGROUND IMAGE SUPPORT == */
.support-full-height{
	height: 100%;
}

.full-page-container{
	height: 100%;

}

#agenda{
	background-image: url('../images/agenda.jpg');
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	padding-top: 1em;
	padding-bottom: 1em;
}






/* == AGENDA SECTION  == */
.c-agenda__events, .c-agenda__times{
	background: rgba(0, 0, 0, 0.45);
	padding: 1em;
	margin-bottom: 2em;
}

.c-agenda__times{
	background: rgba(255, 0, 0, 0.45);
}

ul.c-agenda__events{
	padding: 0;
}

li.c-agenda__event{
	list-style: none;
	position: relative;
	padding-bottom: 1em;
}


/* 1: applies to relative of c-agenda-event, so when time is hidden on desktop => line also hidden */
.c-agenda__time--mob::after {
  content: '';
  background: white;
  width: 100%;
  height: 1px;
  display: block;
  position: absolute; /* 1 */
  opacity: 0.2;
  bottom: 0;
}

.c-agenda__time--mob:last-of-type::after{
  display: none;
}

.c-agenda__time--mob{
	font-weight: bold;
	display: block;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

